.logo{
  font-weight: bold;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: -webkit-linear-gradient(#bec9c5, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  text-shadow: 2px 2px 8px #424242;
}
.city{
  color: #0051ff;
  text-shadow: 2px 2px 4px #5a5959;
  font-size: 24px;
  margin-left: 1120px;
  background-color: #d3d3d3;
  border-radius: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  margin-right: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.form-container{

    background: url('./asset/met.png') no-repeat;
    background-size: cover;
    height: 45vh;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: -16px;
}
.search h2{
  margin-top: -50px;
  font-size: 2.2rem;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(248, 250, 241), rgb(255, 255, 255) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search hr{
  border-bottom: 3px solid #ffff;
  width: 70%;
}
.search-bar{
  display: flex;
  width: 70%;
  background-color: whitesmoke;
  border-radius: 20px;
}
.search-bar > input{
  background-color: var(--cardColor);
  width: 100%;
  height: 73px;
  padding-left: 10px;
  border: none;
  outline: none;
  color: rgb(57, 121, 129);
  font-size: 1.5rem;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.s-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #A4B7B1, #1539d8 100%);
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 15px;
  padding-left: 30px;
  color: white;
  transition: all 0.5s ease;
  font-size: 30px;
}
.s-icon:hover{
  cursor: pointer;
  background: linear-gradient(106.23deg, #f1ef74, #d5fa03 100%);
  transform: scale(1.05);
}

.nodata{
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 4px 4px 6px  #6d6d6d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos{
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.carte1{
  margin-top: -27px;
  width: 45%;
}
.carte2{
  width: 47%;
  margin-top: -27px;
}
.test{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--profileShadow);
  background: linear-gradient(rgb(48, 84, 247) 0%, rgb(106, 152, 238) 25%, rgb(148, 198, 245) 50%, rgb(184, 234, 247) 75%, rgb(255, 255, 255) 100%);;
  border-radius: 1rem;
  height: 200px;
  margin-top: -8px;
}
.info-container hr{
  border-bottom: 6px solid rgb(255, 255, 255);
  width: 80%;
  margin-top: -25px;
}
.cc1{
  margin-top: -8px;
}
.infos h2{
  color: #0051ff;
  text-shadow: 2px 2px 4px #5a5959;
}